---
import { resolvePublicAssetUrl } from '../lib/urls';

const { recipe } = Astro.props;
---

<article class="recipe-card">
  <a href={recipe.url}>
    <img
      src={resolvePublicAssetUrl(recipe.frontmatter.image)}
      alt={recipe.frontmatter.imageAlt ?? recipe.frontmatter.title}
      loading="lazy"
    />
    <div class="recipe-card-copy">
      <h3>{recipe.frontmatter.title}</h3>
    </div>
  </a>
</article>
